.contact {
    display: flex;
    width: 100%;
    font-family: 'Pacifico', cursive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact > h3 {
    font-size: 86px;
    margin-bottom: 60px;
  }