.header {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  display: flex;
  width: 90%;
  height: 100px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header-wrapper > h2 {
  color: Black;
  font-family: 'Pacifico', cursive;
}
.header-li-options {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.header-li-options :hover {
  text-decoration: none;
}
