.header {
  color: black;
  background-color: rgba(2, 2, 92, 0.925);
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.header-wrapper {
  display: flex;
  width: 90%;
  height: 100px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header-wrapper > h2 {
  color: white;
}
.header-li-options {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.header-li-options > li {
  padding: 0px 20px;
}
