.quiz-all-levels {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.start-button {
  justify-content: center;
}

.level-participate {
  padding: 20px 40px;
  background-color: rgba(128, 0, 255, 0.315);
  border-radius: 10px;
  display: flex;
  margin: 0px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-btn {
  outline: none;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 20px 2px grey;
  background-color: transparent;
}

.join-btn:focus {
  outline: none;
  box-shadow: 0 0;
}
