.quizlevel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.start-button {
  padding: 60px 100px;
  border-radius: 10px;
  font-size: 44px;
  background-color: rgb(247, 117, 85);
  border: 0;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 20px 2px grey;
}

.quiz-ended {
  text-align: center;
}
.start-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
